*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

  span{
    color:hsl(283.33,76.6%,63.14%);
  }

}

body{
 /* border: 2px solid red; */
   background-color: hsl(260,35.59%,11.57%);
  margin-top: -110px;
  padding-top: 50px;
  /* background-image: url(./images/download.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; */
}



.brand-logo span{
 color: hsl(283.33,76.6%,63.14%);
}
nav{
  /* border: 2px solid red;  */
  background-color: hsl(260,69.23%,5.1%);
  padding-top: 16px;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
}
ul,li{
  display: inline;
}
ul{
  margin-left: 264px;
}
nav ul li a{
  margin-left: 32px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white; 
}

.brand-logo{
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 13px;
  color:hsl(283.33,76.6%,63.14%);
  font-family: "Raleway", sans-serif;
}
nav li a:hover{
  text-decoration: none;
  color: #84ff00;
  transition: all 0.5s;
}
.fa-brands{
  font-size: 23px;
  margin-left: -20px;
  color: #a0a0a0;
}
.fa-brands:hover{
  color: #ff0000;
  transition: all 0.5s;
}
.vline{
  margin-left: 10px;
  color: #a0a0a0;
}
.icons a{
  margin-left: 35px;
}

.contentHead{
  /* border: 2px solid red; */
  margin-top: 150px;
  word-spacing: 1.5px;
}
.contentHead h1{
  margin-left: 580px;
}
.contentHead h2{
  margin-left: 380px;
  margin-top: 20px;
}

.content{
  /* border: 2px solid blue; */
  margin-top: 60px;
  display: flex;
}

.content img{
  /* border: 2px solid green; */
  width: 450px;
  margin-top: -63px;
}

.content p{
  font-size: 23px;
}
.para{
  /* border: 2px solid yellow; */
}

.contentP{
  margin-left: 50px;
}

footer{
  margin-top: 80px;
  height: 70px;
  /* border: 2px solid red; */
  background-color: hsl(260,69.23%,5.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  gap: 580px;
  /* padding-top: 20px; */
  font-size: 19.5px;
}