*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;

  span{
    color:hsl(283.33,76.6%,63.14%);
  }

}

body{
 /* border: 2px solid red; */
   background-color: hsl(260,35.59%,11.57%);
  margin-top: -110px;
  padding-top: 50px;
  /* background-image: url(./images/download.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; */
}



.brand-logo span{
 color: hsl(283.33,76.6%,63.14%);
}
nav{
  /* border: 2px solid red;  */
  background-color: hsl(260,69.23%,5.1%);
  padding-top: 16px;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  z-index: 2;
}
ul,li{
  display: inline;
}
ul{
  margin-left: 264px;
}
nav ul li a{
  margin-left: 32px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white; 
}

.brand-logo{
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 13px;
  color:hsl(283.33,76.6%,63.14%);
  font-family: "Raleway", sans-serif;
}
nav li a:hover{
  text-decoration: none;
  color: #84ff00;
  transition: all 0.5s;
}
.fa-brands,.fa-solid{
  font-size: 23px;
  margin-left: -20px;
  color: #a0a0a0;
}
.fa-brands:hover{
  color: #ff0000;
  transition: all 0.5s;
}
.fa-solid:hover{
  color: #ff0000;
  transition: all 0.5s;
}
.vline{
  margin-left: 10px;
  color: #a0a0a0;
}
.icons a{
  margin-left: 35px;
}

.skillHead{
  margin-top: 160px;
  margin-left: 596px;
}

.skillCards{
  /* border: 2px solid green; */
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.skill{
  border: 2px solid hsl(278.64,25.32%,45.69%);
  border-radius: 15px;
  width: 300px;
  margin-left: 90px;
  box-shadow: 1px 1.5px 3px 0.1px hsl(278.64,25.32%,45.69%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  transition: all 0.9s;
  perspective: 200px;
}
.skill svg{
  width: 150px;
  padding: 50px;
  margin-left: 20px;
  margin-top: -10px;
}

.skill:hover{
  border-color: hsl(278, 78%, 82%);
  transform: scale(1.1) ;
}

.skill img{
  width: 150px;
  margin-top: 8px;
  margin-left: 86px;
}

.contribution img{
  margin-left: 250px;
}


footer{
  margin-top: 80px;
  height: 70px;
  /* border: 2px solid red; */
  background-color: hsl(260,69.23%,5.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  gap: 580px;
  /* padding-top: 20px; */
  font-size: 19.5px;
}

.image{
  /* border: 2px solid red; */
  margin-left: -13px;
}

.content{
  /* border: 2px solid green; */
  width: 260px;
  margin-left: 20px;
}

.content p{
  font-size: 18px;
  word-spacing: 1.5px;
  text-align: justify;
}

.content h2{
  text-align: center;
  padding-bottom: 10px;
}

.buttons{
  /* border: 2px solid red; */
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.buttons button{
  /* border: 2px solid yellow; */
  background-color: rgb(6, 171, 50);
  border-radius: 15px;
  height: 35px;
  display: flex;
  gap: 20px;
  padding-top: 3px;
  padding-right: 5px;
  cursor: pointer;
}

.buttons button i{
  margin-left: 10px;
}

.buttons p{
  font-size: 19px;
  padding-right: 10px;
}

/* .buttons:hover>button{
  background-color: #84ff00;

} */
/* 
button:hover>a{
  color: #4f0183;
}  */

/* button:hover>i{
  color: #4f0183;
} */

.buttons .fa-brands:hover{
  color: #4f0183;
  transition: all 0.5s;
}

button{
  border-color: transparent;
}


.buttons a{
  /* border: 2px solid red; */
  background-color: rgb(6, 171, 50);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin: 10px; */
  height: 35px;
  width: 120px;
  /* padding-top: 3px; */
  padding-left: 26px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
}


/* .btn1:hover .gitIcon{
  color: #4f0183;
}

.btn1:hover .btn1{
  color: #4f0183;
} */

.btn1:hover,.btn1:hover .gitIcon{
  color: #61046f;
}
.btn2:hover, .btn2:hover .liveIcon {
  color: #61046f;
}

.btn1:hover,.btn2:hover{
  box-shadow: 0.5px 0.2px 2px 2px rgb(6, 70, 207);
}

.liveIcon{
  font-size: 20.5px;
}