*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;

  span{
    color:hsl(283.33,76.6%,63.14%);
  }

}

body{
 /* border: 2px solid red; */
   background-color: hsl(260,35.59%,11.57%);
  margin-top: -110px;
  padding-top: 50px;
  /* background-image: url(./images/download.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; */
}



.brand-logo span{
 color: hsl(283.33,76.6%,63.14%);
}
nav{
  /* border: 2px solid red;  */
  background-color: hsl(260,69.23%,5.1%);
  padding-top: 16px;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  z-index: 2;
}
ul,li{
  display: inline;
}
ul{
  margin-left: 264px;
}
nav ul li a{
  margin-left: 32px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white; 
}

.brand-logo{
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 13px;
  color:hsl(283.33,76.6%,63.14%);
  font-family: "Raleway", sans-serif;
}
nav li a:hover{
  text-decoration: none;
  color: #84ff00;
  transition: all 0.5s;
}
.fa-brands{
  font-size: 23px;
  margin-left: -20px;
  color: #a0a0a0;
}
.fa-brands:hover{
  color: #ff0000;
  transition: all 0.5s;
}
.vline{
  margin-left: 10px;
  color: #a0a0a0;
}
.icons a{
  margin-left: 35px;
}

.myImage img{
  width: 650px;
  margin-top: 80px;
  margin-left: -127px;
}

.myIntro{
  /* border: 2px solid red; */
  margin-top: -106px;
  display: flex;
  column-gap: 80px;
  justify-content: center;
  align-items: center;
}
.intro{
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  row-gap: 10px;
  margin-left: -269px;
}
.briefP{
  font-size: 18px;
  font-weight:lighter;
  margin-top: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  
}
.hii{
  font-size: 19px;
}
.intro h1{
  font-size: 55px;
  color: hsl(283.33,76.6%,63.14%);
}
.role{
  font-size: 24px;
  font-weight: bolder;
  color:rgb(234, 164, 200);
  letter-spacing: 2px;
}

.welcomeBtn a{
  background-color: hsl(28, 100%, 52%);
  height: 45px;
  width: 262px;
  border-radius: 0px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-left: 500px;
  text-decoration: none;
  font-size: 18px;
}


.about_me{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  padding-top: 66px;
  padding-bottom: 65px;
  gap: 30px;
  border-radius: 15px;
  background-color: hsl(260,35.59%,11.57%);
  box-shadow: 6px 0px 10px 1px rgb(83, 83, 198);

}

.about_me h1{
  padding-top: 20px;
  text-shadow: 3px 3px 2px rgb(5, 0, 6);
}

.about_me h1 span{
  color: hsl(283.33,76.6%,63.14%);
  font-size: 30px;
}

.about_me p{
  font-size: 19px;
  font-weight: bolder;
  font-weight:lighter;
  text-align: justify;
  text-shadow: 3px 3px 2px rgb(5, 0, 6);
}
.about_me span{
  color: hsl(305, 100%, 79%);
  text-shadow: 0px 0px 0px rgb(5, 0, 6);
  font-weight: bolder;
  font-size: 21px;
}
footer{
  margin-top: 80px;
  height: 70px;
  /* border: 2px solid red; */
  background-color: hsl(260,69.23%,5.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  gap: 580px;
  /* padding-top: 20px; */
  font-size: 19.5px;
}


/* HTML: <div class="loader"></div> */
/* .loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  aspect-ratio: 1;
  animation: l10 1.5s infinite alternate;
}
.loader:after {
  --s:-1;
}
@keyframes l10 {
  0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
  60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
} */

